/* all font */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper-backdrop-editor {
  height: calc(100vh - 300px);
  width: 800px;
}
.wrapper-backdrop-live {
  width: 100%;
  min-height: 100vh;
}
.wrapper-backdrop {
  background-color: bisque;
}
.bg-image {
  width: 100%;
  background-position: center;
  background-size: cover;
}
.bg-image-editor {
  height: 100%;
}
.bg-image-live {
  height: 100vh;
}

.text-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.default-fontfamily {
  font-family: 'Itim', cursive;
}
.dancing {
  font-family: 'Dancing Script', cursive;
}
.pacifico {
  font-family: 'Pacifico', cursive;
}
.courgette {
  font-family: 'Courgette', cursive;
}
.kalam {
  font-family: 'Kalam', cursive;
}
.merienda {
  font-family: 'Merienda', cursive;
}
.cookie {
  font-family: 'Cookie', cursive;
}